.buttonContainer {
  display: flex;
  gap: 8px;
}

.easterEggImages {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 30%;
}

.calloutImage {
  border-radius: 30%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.calloutText {
  padding: 5px 10px;
}