.titleStack,
.extrasContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px #0000004d;
  height: 48px;
  z-index: 1;
}

.headerTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  color: #242424;
}

.headerIcon {
  height: 32px;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.viewPolicyButtonStack {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.viewPolicyButton {
  padding: 0px;
  border: transparent;
  background-color: transparent;
}

.mailtoLink {
  cursor: pointer;
  text-decoration: none;
  color: rgb(50, 49, 48);
  display: flex;
  align-items: center;
}

.mailtoLink:hover {
  color: rgb(50, 49, 48);
  text-decoration: none;
}

.mailtoLink:active {
  color: rgb(50, 49, 48);
  text-decoration: none;
}

.mailtoLink:visited {
  color: rgb(50, 49, 48);
  text-decoration: none;
}

.verticalLine {
  height: 24px;
  border-left: 1px solid #797978;
  margin: 0 20px;
}